{%extends "base.html"%}

{%block content%}
    <div class="formwrapper">
        <h2 class="title">Discount Calculator</h2>
            <p>What's the final sale price?</p>
            <form method="POST" action="/discount_calculator">
                <div class="form-field">{{ form.tagPrice.label }} {{ form.tagPrice(size=20) }}</div>
                <div class="form-field">{{ form.discount.label }} {{ form.discount }}</div>
                {{ form.submit }}
            </form>
            
        {% if pagedata %}
            <div class="container">
                <div class="row">
                    The reduced price of the item is ${{ pagedata.reducedPrice}}
                </div>
            </div>
        {% endif %}
{%endblock%}