{%extends "base.html"%}
{%block content%}
    <div class="formwrapper">
        <h2 class="title">Tip Calculator</h2>
            <p>Who enjoys doing math after a big meal?(Nobody)</p>
            <form method="POST" action="/tip_calculator">
                <div class="form-field">{{ form.bill.label }} {{ form.bill(size=20) }}</div>
                <div class="form-field">{{ form.percentage.label }} {{ form.percentage }}</div>
                {{ form.submit }}
            </form>
            
        {% if pagedata %}
            <div class="container">
                <div class="row">
                    Your total bill is: ${{ pagedata.totalBill}}
                </div>
            </div>
        {% endif %}
{%endblock%}